.documentWrapper {
  min-height: 400px;
}

.loadingContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingCard {
  width: 100%;
  height: 100%;
  border: none; 
  box-shadow: none;
}
